.table-container {
    display: flex;    
}

.table {    
    flex-direction: column;    
}

header {      
    font-weight: 650;    
    display: flex;    
}

header>.title {
    flex: 1;
    border: 1px solid black;                     
    text-transform: capitalize;
    display: table;
}

.rows-container {        
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;    
    display: flex;
}

.row>.cell {
    flex: 1;
    border: 1px solid black;
    display: table;
}