.table-container {
    display: flex;    
}

.table {    
    flex-direction: column;    
}

thead {      
    font-weight: 650;    
    display: flex; 
    text-transform: capitalize;   
}

.rows-container {        
    display: flex;
    flex-direction: column;
}

.row>td {    
    border: 1px solid black;   
}